<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="macbookpro" class="com.huawei.yinya.Laptop">
        <property name="name" value="macbookpro"/>
        <property name="model" value="2018"/>
        <property name="price" value="15000"/>
    </bean>

</beans>